{% load bootstrap4 observation_extras_exo %}
<table class="table table-hover">
    <thead>
    <tr>
        <th>Transit</th>
        <th>Date</th>
        <th>Parameter</th>
        <th>Value</th>
        <th>Error</th>
    </tr>
    </thead>
    <tbody>
    {% for measurement in measurements %}
        <tr>
            <td><a href="{% url 'transitobservationdetails' measurement.target_id measurement.transit_number %}"> #{{ measurement.transit_number }} </a></td>
            <td>{{ measurement.transit_mid_time|date:"Y M d, H:i:s" }}</td>
            <td> t0 </td>
            <td>{{ measurement.t0 }}</td>
            <td>{{ measurement.t0_error|floatformat:5 }}</td>
        </tr>
    {% empty %}
        <tr>
            <td colspan="5">
                No measurements found.
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
