{% load static transit_observations_and_analyses  %}

{% for obs_record, analyses in observations_and_analyses.items %}
    <div>
        <h4> Observation Record </h4>
        "{{ obs_record }}"
        <a href="https://observe.monet.uni-goettingen.de/requests/{{ obs_record.observation_id }}/" target="_blank">
            &rightarrow; Observation Portal
        </a>
        <br/>
        Status: {{ obs_record.status }}
        <br/><br/>
        <h4>Analyses</h4>
        {% for analysis in analyses %}
            <strong> Analysis (id={{ analysis.id }}) </strong> with light curve optimization method
                <i>"{{ analysis.lightcurve_optimization_method }}"</i>
            <br/>
            {% if analysis.fit_report_dataproduct.data.url != "" %}
                <a href="{{ analysis.fit_report_dataproduct.data.url }}"> Fit Report</a>
            {% endif %}
            ---
            {% if analysis.reference_star_catalog_dataproduct.data.url != "" %}
                <a href="{{ analysis.reference_star_catalog_dataproduct.data.url }}"> Refer nce Star Catalog CSV</a>
            {% endif %}
            ---
            {% if analysis.best_lightcurve_dataproduct.data.url != "" %}
                <a href="{{ analysis.best_lightcurve_dataproduct.data.url }}"> Best Light Curve CSV</a>
            {% endif %}
            <br/>
            Batman Model Parameters (Fit Chi^2={{ analysis.fit_chi_squared|floatformat:6 }}):
            <table class="table table-borderless table-hover center">
                <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                    <th>Error</th>
                </tr>
                <tbody style="border-top: 1px solid">
                    <tr> <td> batman t0 (JD) </td> <td>{{ analysis.batman_t0 }}</td> <td>{{ analysis.batman_t0_error }}</td> </tr>
                    <tr> <td> batman per (days) </td> <td>{{ analysis.batman_per }}</td> <td>{{ analysis.batman_per_error }}</td> </tr>
                    <tr> <td> batman rp (stellar radii) </td> <td>{{ analysis.batman_rp }}</td> <td>{{ analysis.batman_rp_error }}</td> </tr>
                    <tr> <td> batman a (stellar radii) </td> <td>{{ analysis.batman_a }}</td> <td>{{ analysis.batman_a_error }}</td> </tr>
                    <tr> <td> batman inc (degrees) </td> <td>{{ analysis.batman_inc }}</td> <td>{{ analysis.batman_inc_error }}</td> </tr>
                    <tr> <td> batman ecc </td> <td>{{ analysis.batman_ecc }}</td> <td>{{ analysis.batman_ecc_error }}</td> </tr>
                    <tr> <td> batman w (degrees) </td> <td>{{ analysis.batman_w }}</td> <td>{{ analysis.batman_w_error }}</td> </tr>
                    <tr> <td> batman limb_dark model </td> <td>{{ analysis.batman_limb_dark }}</td> <td>{{ analysis.batman_limb_dark_error }}</td> </tr>
                    <tr> <td> batman limb_dark u1 </td> <td>{{ analysis.batman_limb_dark_u1 }}</td> <td>{{ analysis.batman_limb_dark_u1_error }}</td> </tr>
                    <tr> <td> batman limb_dark u2 </td> <td>{{ analysis.batman_limb_dark_u2 }}</td> <td>{{ analysis.batman_limb_dark_u2_error }}</td> </tr>
                    <tr> <td> linear airmass detrending m </td> <td>{{ analysis.m_airmass }}</td> <td>{{ analysis.m_airmass_error }}</td> </tr>
                    <tr> <td> linear airmass detrending b </td> <td>{{ analysis.b_airmass }}</td> <td>{{ analysis.b_airmass_error }}</td> </tr>
                </tbody>
            </table>
            {% if analysis.fit_image_dataproduct.data.url != "" %}
                Image: <br/>
                <a href="{{ analysis.fit_image_dataproduct.data.url }}">
                    <img src="{{ analysis.fit_image_dataproduct.data.url }}" width="400"/>
                </a>
            {% endif %}
            <br/><br/><br/>
        {% endfor %}
    </div>
{% empty %}
    No observations/analyses.
{% endfor %}
<br/>

